body {
    /*padding: 15px;*/
    /* padding-top: 12vh; */
    margin: 0;

  }
#container{
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg,#FC466B, #3F5EFB, #447081 ,#b84e34);
  background-size: 600% 100%;
  animation: gradient 10s linear infinite;
  animation-direction: alternate;



}

 #box-divs{
  margin: 8vmin auto;
  /* align-items: center; */
  background-color: #EAFDFC;
  width: fit-content;
  padding: 2em; 
  border-radius: 3vh;
  font-family: 'Montserrat', sans-serif;
} 
/* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}
  #game-heading{
    text-align: center;
    font-size: 8vmin;
    color: #4c4c4c;
    font-weight: 600;
    /* font-family: cursive; */
    /* padding-bottom: 4% ; */  

  }
  #game-screen{
    /* display: block; */
    width: auto;
    padding: 2vmin;
  }
.glowing-line{
  background: #6dc6e1;
    border-radius: 10px;
    box-shadow: 0 0 5px #57c7c9;
    height: 0.5vmin;
    /* margin-top: 1vmin; */
    margin: 1vmin auto;
    display: flex;
    width: 90%;

    animation: glow 1s ease-in-out infinite alternate;
}
/* #game-heading:hover{
  transform: scale(1.1);
  transition: 800ms ease all;
} */
.welcome-message{
  margin-left: 2vmin;
  display: flex;
  align-content: center;
    font-size: 3vmin;
    color: #05707b;
}

.contents{
 /* color: #32bac8; */
 background-color: #EAFDFC;
 padding: 2em;
 border-radius: 3vh;
}
  #enemy-screen,
  #intro-screen {
    max-width: 420px;
    text-align: center;  /* Centers h2 and buttons */

  }

  #symbol-heading{
    margin-top: 3vmin;
    font-size: 3vmin;
    color: #05707b;
  }
  #enemy-screen h2,
  #intro-screen h2 {
    padding: 0 15px;  /* Prevent text from touching the edges of the screen */
  }
  #intro-screen button {
    font-size: 10vmin;
    padding: 3% 6%;  /* With "%" padding is based on container's width */
    margin: 4% 4%;  /* Create distance between buttons */
    width: 33%;
  }
  #enemy-screen button {
    display: block;
    margin: 0.6em auto;
    font-size: 4vmin;
    padding: 0.2em 0.4em;
    width: 45%;
  }
  
  .play-icons{
    width: 10vmin;
    padding-left: 4%;
  }
  .welcome-icon{
    width: 1.2em;
    height: 1.2em;
    padding-left: 2%;
  }
  /****** GAME GRID ******/
  
  
  table {
    max-width: 420px;
    max-height: 420px;
    width: 85vw;  /* 85% of the viewport (body) width */
    height: 85vw;
    border-spacing: 4px 2px;  /* Space between cells */
  }
  td {
    padding: 0;
    width: 33%;  /* Every cell should be 1/3 of table height (and width) */
    height: 33%;
  }
  .cell {
    font-size: 3.4em;
    font-size: 11.8vmin;  /* Responsive font size! Awesome! */
    height: 100%;  /* Fill the container (td) */
    width: 100%;
    background: #c9eff6;
    border-radius: 2vmax;
  }
  .wincell {
    background-color: #c88;  /* Red background to highlight the "winning" line */
  }
  .player-two {
    color: rgb(35, 147, 91);
  }
  
  /****** BUTTONS ******/
  
  
  button {
    cursor: pointer;  /* Visually show that you can interact with the button */
    border: none;  /* Hides default border (and color, for some reason */
    color: #333;
  }
  
  #restart {
    font-size: 1.2em;
    padding: 5px 10px;
    /* Center horizontally */
    margin: 20px auto;
    display: block;
    font-family: 'Montserrat';
  }
  
.choose{
  
}

.choose{
  background:#25cca5;
  color:#fff;
  border:none;
  position:relative;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;


}
.choose:hover{
  background:#fff;
  color:#25cca5;
}
.choose:before,.choose:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

.choose {
  border: none;
  /* background-color: #ff9aff;
  box-shadow: 0 0 5px #ef97e8; */
}
.choose:hover {
  transform: scale(1.1);
   box-shadow: 0 0 10px #1AAB8A, 0 0 20px #1aab8c, 0 0 20px #fff inset;
}
/* button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
} */

  .choose,
  #restart {
    border-radius: 0.3em;
  }

  #restart{
    background-color: #ADA2FF; /* red background */
    color: #fff; /* white text color */
    margin-top: 1em;
    padding: 10px 20px; /* button padding */
    border: none; /* no border */
    border-radius: 0.8em; /* rounded corners */
    /* font-size: 18px; font size */
    font-size: 1.5em;

    cursor: pointer; /* cursor changes to a pointer on hover */
  }

  #restart:hover{
    background-color: #5681ed; /* darker red background on hover */
    transform: scale(1.1);
    transition: 200ms ease-in-out ;

  }
  .choose:active {
    background-color: #ccc;  /* Darker color when the button is pressed */
  }
  
  .btn-green {
    background-color: #70d260;
  }
  .btn-green:active {
    /* Override the active background for #restart */
    background-color: #60c050 !important;
  }
  
  /******  HELPER CLASSES  ******/
  
  .center {
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }
  .cannotuse {
    cursor: not-allowed;
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;
    background-color: #333333;
    color: #fff;
    z-index: 40;
    font-size: 1.7git vmin;
  }
  
  .bottom-container {
    display: flex;
    align-items: center;
  }
  
  .made-with, .by, .the-boyz {
    margin-right: 10px;
  }
  


  @media (max-width: 800px) {
    /* .welcome-icon{
      width: 0%;
    } */
    /* .welcome-message{
      display: block;
      margin: auto;
    } */
    #box-divs{
      margin: 8vmin auto;
    }
    .bottom-container{
      display: none;
    }
  }